:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
}

.wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url('../../../assets/images/main-page__background.svg');
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.main-container {
  width: 100%;
  display: flex;
  padding: 20px;
}

.nav-container {
  width: 90%;
  height: 64px;
  display: flex;
  align-items: center;
  margin: 0 auto;

  .nav-list {
    display: flex;
    gap: 42px;

    &-item {
      .activated {
        border-bottom: 2px solid #343e48;
        border-radius: 6px 6px 0px 0px;
        text-shadow: 0.25px 0.1px 0px #222, -0.25px -0.1px 0px #222;
      }
      &-link {
        text-decoration: none;
        color: #343e48;
        padding: 10px;
      }
    }
  }
}
