<div class="wrapper">
  <app-main-form-header></app-main-form-header>

  <nav class="nav-container">
    <ul class="nav-list">
      <li
        #index
        class="nav-list-item"
        *ngFor="let link of navigationLinks; let i = index"
        (click)="getIndex(i)"
      >
        <a
          class="nav-list-item-link"
          routerLink="{{ link.link }}"
          [routerLinkActive]="['activated']"
          >{{ link.value }}</a
        >
      </li>
    </ul>
  </nav>
  <main class="main-container">
    <app-side-bar
      [steps]="calculationSteps"
      [ngClass]="{ active: isNone }"
    ></app-side-bar>
    <router-outlet></router-outlet>
  </main>
</div>
