<div class="wrapper">
  <tes-main-form-header></tes-main-form-header>

  <nav class="nav-container" mat-tab-nav-bar>
    <a
      mat-tab-link
      *ngFor="let link of navigationLinks; let i = index"
      class="nav-list-item-link"
      routerLink="{{ link.link }}"
      [active]="isActive"
      (click)="getRout()"
      [routerLinkActive]="['active']"
      >{{ link.value }}</a
    >
  </nav>
  <main class="main-container">
    <tes-side-bar
      [steps]="navigationSteps"
      *ngIf="routerLink != '/main-page/documents-payments'"
    ></tes-side-bar>
    <router-outlet></router-outlet>
  </main>
</div>
