.work {
  &-header {
    margin-bottom: 47px;
    &__title {
      font-weight: 400;
      font-size: 30px;
      line-height: 39px;
      color: #343e48;
    }
  }

  &-status {
    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 29px;
      color: #343e48;
    }

    &__list {
      margin-top: 20px;
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      &-item {
        color: #343e48;
        padding: 10px 30px;
        background: #f2f4f7;
        border-radius: 20px;
      }
    }
  }
  &-place {
    margin-top: 55px;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #343e48;

    .form-group__list {
      margin-top: 35px;
      margin-bottom: 70px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      column-gap: 20px;
      row-gap: 24px;

      .form-group__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &--label {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #343e48;
        }

        &--select,
        &--input {
          margin-top: 10px;
          width: 100%;
          background: #f2f4f7;
          border-radius: 8px;
          padding: 17.5px 10px;
        }
        &--options {
          margin-top: 24px;
          display: flex;
          align-items: center;
          flex-direction: row;

          .checkbox {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            accent-color: #72879e;

            .form-group__item--label {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #343e48;
            }
          }
        }
      }
    }
  }

  .submit-button {
    align-self: flex-end;
    padding: 14px 76px;
    background: #343e48;
    color: #ffffff;
    border-radius: 6px;
  }
}

.active-work {
  background: #72879e;
  color: #ffffff;
}
