<div class="loan-offer">
<div class="loan-offer-content">
<div class="loan-offer-title">
<span>Телематический кредит</span>
</div>
<div class="content-header">
    <span>
        Для тех, кому важны минимальные ежемесячные платежи
    </span>
</div>
<div class="content">
<span>
    Финансовая программа, с низкими ежемесячными платежами и гарантированным обратным выкупом автомобиля. 
    В рамках  Вы можете выбрать опцию ПЛЮС по которой стоимость КАСКО и прохождение ТО включены в ежемесячный платеж. 
    Также Вам доступен с повышенной гарантированной остаточной стоимостью.
</span>
<input
    class="loan-offer__button"
    type="button"
    value="Подать заявку"
/>
</div>
</div>
<div class="loan-offer-params">
    <div class="loan-body__img">
        <img
          src="/assets/images/sovkom_logo.svg"
          class="loan-body__img--logo"
          alt="bank-logo"
        />
        <span class="loan-body__img--label">Совкомбанк</span>
      </div>
      <div class="monthly-payment">
        <span class="monthly-payment__title">Ежемесячный платеж</span>
        <div class="monthly-payment-amount">
            <span class="monthly-payment-amount__amount">35 150</span>
            <span class="monthly-payment-amount__currency">₽/мес</span>
        </div>
        <span class="monthly-payment__title">Пользование атвомобилем</span>
        <div class="car-use-cost">
            <span class="car-use-cost__amount">4 600</span>
            <span class="car-use-cost__currency">₽/мес</span>
        </div>
      </div>
</div>
</div>
