.block-title {
  color: #343e48;
}

.card-body {
  max-width: 35rem;
  height: 11.5rem;
  background: #ffffff;
  box-shadow: 2px 2px 19px rgba(52, 62, 72, 0.21);
  border-radius: 20px;
  margin-top: 1rem;
  padding: 0.75rem 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    &-status {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 2px;
    }

    &-card {
      padding: 0.5rem 0;
      filter: drop-shadow(2px 2px 19px rgba(52, 62, 72, 0.21));
      border-radius: 20px;
    }
  }

  .card-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &__form {
      display: flex;
      align-items: center;

      &--checkbox {
        width: 1rem;
        height: 1rem;
        accent-color: #72879e;
        margin-right: 10px;
      }
    }

    &__description {
      font-size: 0.75rem;
      color: #979797;
      max-width: 25%;
    }

    &__options-button {
      cursor: pointer;
      background: #ffffff;
      padding: 0.5rem 0.75rem;
      font-weight: 500;
      font-size: 0.785rem;
      text-align: center;
      color: #343e48;
      border: 1px solid #72879e;
      border-radius: 6px;
    }
  }
}

.green {
  background: linear-gradient(173.16deg, #92f9e1 -46.88%, #27c19d 94.64%);
  border-radius: 2px;
}

.yellow {
  background: #efce5a;
  background-color: yellow;
}
