<form class="add-user-form" [formGroup]="edditClientForm">
  <fieldset class="form-group__item">
    <label class="form-group__item--label">Фaмилия</label>
    <input
      type="text"
      formControlName="last_name"
      class="form-group__item--input"
    />
  </fieldset>
  <fieldset class="form-group__item">
    <label class="form-group__item--label">Имя</label>
    <input
      type="text"
      formControlName="first_name"
      class="form-group__item--input"
    />
  </fieldset>
  <fieldset class="form-group__item">
    <label class="form-group__item--label">Отчество</label>
    <input
      type="text"
      formControlName="patronymic"
      class="form-group__item--input"
    />
  </fieldset>
  <fieldset class="form-group__item">
    <label class="form-group__item--label">Email</label>
    <input
      type="text"
      formControlName="email"
      class="form-group__item--input"
    />
  </fieldset>

  <fieldset class="form-group__checkbox">
    <label class="form-group__checkbox--label"
      >Перейти к заполнению данных клиента</label
    >
    <input
      type="checkbox"
      formControlName="checkbox"
      class="form-group__checkbox--input"
    />
  </fieldset>
  <input
    class="modal-buttons__save"
    type="button"
    value="Изменить данные клиента"
    [disabled]="!edditClientForm.valid"
    mat-button
    (click)="sendClientData(edditClientForm)"
  />
</form>
