<div class='wrapper'>
  <div class='row'>
    <div class='col-12 block-title'>
      Выберите опции
    </div>
  </div>

  <div class="row options-container">
    <div class='col-12'>
      <div class='col-7'>
        <form
          [formGroup]="optionsModalForm"
          class="options-form"
        >
          <div class="options-form-items">
            <h4>Базовые</h4>
            <ng-container *ngFor='let option of defaultOptions; let i = index'>
              <tes-input-checkbox [label]='option.option_name' [formControlName]='option.option_id'></tes-input-checkbox>
            </ng-container>

            <h4 class='mt-3'>Дополнительные</h4>
            <ng-container *ngFor='let option of availableOptions; let i = index'>
              <tes-input-checkbox [label]='option.option_name'
                                  [formControlName]='option.option_id'
                                  *ngIf='i < 3'
              ></tes-input-checkbox>
            </ng-container>
          </div>
        </form>
      </div>
      <div class='col'></div>

      <button
        class="submit-button"
        (click)="onRecalculate()"
      >
        Пересчитать
      </button>
    </div>
  </div>

</div>
