<div class="questionnaire-container">
  <form [formGroup]="userInfoForm" class="registration">
    <p class="registration-title">Оформление</p>

    <div class="passport-data">
      <div class="passport-data__title">Паспортные данные</div>
      <button class="passport-data__auto-registration">
        <img
          class="passport-data__auto-registration-img"
          src="/assets/images/photo.svg"
          alt="auto-registatrion"
        />
        <span class="passport-data__auto-registration-text"
          >Заполнить автоматически</span
        >
      </button>
    </div>

    <div class="passport__form-group">
      <fieldset class="form-group__item">
        <label class="form-group__item--label">
          Серия и номер
          <input
            type="text"
            formControlName="passport_seria"
            class="form-group__item--input"
        /></label>
      </fieldset>

      <fieldset class="form-group__item">
        <label class="form-group__item--label">
          Место рождения
          <input
            type="text"
            formControlName="born_place"
            class="form-group__item--input"
        /></label>
      </fieldset>

      <fieldset class="form-group__item">
        <label class="form-group__item--label">
          Кем выдан, код подразделения
          <input
            type="text"
            formControlName="passport_office"
            class="form-group__item--input"
        /></label>
      </fieldset>

      <fieldset class="form-group__item">
        <label class="form-group__item--label">
          Дата выдачи
          <input
            type="text"
            formControlName="date"
            class="form-group__item--input"
        /></label>
      </fieldset>

      <fieldset class="form-group__item--options">
        <input
          type="checkbox"
          class="form-group__item checkbox"
          formControlName="passport_chenged"
          name="checkbox"
        />
        <label for="checkbox" class="form-group__item--label">
          Паспорт менялся
        </label>
      </fieldset>
    </div>

    <div class="residential-address">
      <div class="residential-address__title">Адрес проживания</div>

      <div class="residential-address__form-group">
        <fieldset class="form-group__item">
          <label class="form-group__item--label">
            Адрес регистрации
            <input
              type="text"
              formControlName="passport_seria"
              class="form-group__item--input"
          /></label>
        </fieldset>

        <fieldset class="form-group__item">
          <label class="form-group__item--label">
            Дата регистрации
            <input
              type="text"
              formControlName="born_place"
              class="form-group__item--input"
          /></label>
        </fieldset>

        <fieldset class="form-group__item">
          <label class="form-group__item--label">
            Адрес фактического проживания
            <input
              type="text"
              formControlName="passport_office"
              class="form-group__item--input"
          /></label>
        </fieldset>

        <fieldset class="form-group__item">
          <label class="form-group__item--label">
            Статус недвижимости (где проживаете)
            <select
              (change)="changeStatus($event)"
              formControlName="propertyStatus"
              class="form-group__item--select"
              name="property_status
            "
            >
              <option value="Своя квартира">Своя квартира</option>
              <option value="У родителей">У родителей</option>
            </select>
          </label>
        </fieldset>

        <fieldset class="form-group__item--options">
          <input
            type="checkbox"
            class="form-group__item checkbox"
            formControlName="passport_chenged"
            name="checkbox"
          />
          <label for="checkbox" class="form-group__item--label">
            Паспорт менялся
          </label>
        </fieldset>
      </div>
    </div>

    <div class="education">
      <div class="education__title">Образование</div>
      <div class="education__list">
        <button
          class="education__list--button"
          *ngFor="let typeOfEducation of educations; index as i"
          type="button"
          [ngClass]="{ active: selectedIndex === i }"
          (click)="activateClass(i)"
        >
          {{ typeOfEducation }}
        </button>
      </div>
    </div>

    <div class="family">
      <div class="family__title">Семья</div>
      <div class="family__form-group">
        <fieldset class="form-group__item">
          <label class="form-group__item--label">
            Семейное положение
            <select
              (change)="changeFamilyStatus($event)"
              formControlName="familyStatus"
              class="form-group__item--select"
              name="property_status
          "
            >
              <option value="Не женат, не замужем">Не женат, не замужем</option>
              <option value="Холост">Холост</option>
            </select></label
          >
        </fieldset>

        <fieldset class="form-group__item">
          <label class="form-group__item--label">
            Дети
            <app-counter-button
              (currentCountValue)="addChildren($event)"
            ></app-counter-button
          ></label>
        </fieldset>
      </div>
    </div>

    <div class="monthly_expenses">
      <div class="passport-data__title">Ежемесячные расходы</div>
      <div class="family__form-group">
        <fieldset class="form-group__item">
          <label class="form-group__item--label">
            Обязательные платежи*, ₽
            <app-input-slider
              (componentValue)="obligatoryPayments($event)"
            ></app-input-slider>
          </label>
        </fieldset>

        <fieldset class="form-group__item">
          <label class="form-group__item--label">
            Погашение кредитов*, ₽
            <app-input-slider
              (componentValue)="loanRepayment($event)"
            ></app-input-slider
          ></label>
        </fieldset>
      </div>
    </div>

    <app-submit-form-button
      [formValues]="userInfoForm.value"
      [isDisable]="!userInfoForm.valid"
      buttonText="Продолжить"
    ></app-submit-form-button>
  </form>

  <!-- <button (click)="openInsuranceModal()">Open modal</button> -->
</div>
