.tes-button {
  width: 220px;
  height: 40px;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 6px;
}

.primary {
  background: #343e48;
  color: #fff;
}

.secondary {
  background: #fff;
  color: #343e48;
  border: 1px solid #72879E;
}
