<div class="modal-container">
  <tes-modal-header [title]="modalTitle"></tes-modal-header>
  <main class="modal-body">
    <mat-tab-group
      [disableRipple]="true"
      mat-align-tabs="center"
      [selectedIndex]="indexOfTab"
      (selectedTabChange)="onTabChange($event)"
      class="mat-tab-client-modal"
    >
      <mat-tab>
        <ng-template mat-tab-label class="tab-item">
          <span class="tab-item__text">Номер регистрируемого пользователя</span>
        </ng-template>
        <tes-client-phone
          (nextStepOutput)="nextStep($event)"
        ></tes-client-phone>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label class="tab-item">
          <span class="tab-item__text">Веррификация клиента</span>
        </ng-template>
        <tes-client-verification-code
          (nextStepOutput)="nextStep($event)"
        ></tes-client-verification-code>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label class="tab-item">
          <span class="tab-item__text">Введите данные клиента</span>
        </ng-template>
        <tes-edit-client></tes-edit-client>
      </mat-tab>
    </mat-tab-group>
  </main>
</div>
