.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 35px;
  min-height: 80vh;
  margin-bottom: 75px;
}

.loan {
  max-width: 100%;
  width: 50vw;
  background: #ffffff;
  box-shadow: -1px 3px 20px 1px rgba(33, 44, 55, 0.08);
  border-radius: 30px;
}
