<div class="documents-payments">
  <tes-card-title [title]="documentsTitle"></tes-card-title>
  <tes-documents
    [document]="document"
    [cascoStatus]='cascoStatus'
    (saveAgreement)='null'
    *ngFor="let document of currentDocuments; let i = index"
  ></tes-documents>
  <div class="documents-payments__buttons">
    <button class="documents-payments__buttons--print" (click)='null'>
      Распечатать документы
    </button>
    <button class="documents-payments__buttons--save" (click)='issueCascoPolicy()'>
      Выпустить полис
    </button>
  </div>
</div>
