<div class="auth-page">
  <div class="auth-page__container">
    <div class="personal-office">
      <div class="personal-greetings">
        <h1 class="personal-greetings__title">F&I Брокера</h1>
        <p class="personal-greetings__content">
          Добро пожаловать в личный кабинет.
        </p>
        <p class="personal-greetings__content">
          Авторизуйтесь, чтобы начать пользоваться всеми возможностями
          СRM-системы.
        </p>
      </div>

      <mc-broker-auth-tabs>
        <mc-auth-email-form emailRegistration></mc-auth-email-form>
        <mc-auth-broker-id-form idRegistration></mc-auth-broker-id-form>
      </mc-broker-auth-tabs>

      <!--      <p class="personal-office__description">-->
      <!--        * Цифровой автомобиль – автомобиль с функциями автоматического сбора и-->
      <!--        умной обработки данных о состоянии всех его систем, а также с-->
      <!--        возможностями интеграции телематических сервисовА-->
      <!--      </p>-->
    </div>

    <!-- <p class="">
          <a [routerLink]="['/login']">Have an account?</a>
        </p> -->
    <!-- <mc-backend-error-messages *ngIf="backandErrors$ | async"
      [backendErrors]="backandErrors$ | async"></mc-backend-error-messages> -->
  </div>
</div>
