.auth-page {
  width: 100vw;
  background-image: url('/assets/images/auth_client_background.png');
  font-family: 'Gilroy';
  color: #ffffff;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
  }
}
