::ng-deep {
  .mat-step-icon-content {
    span {
      display: none;
    }
  }

  .mat-step-icon {
    .mat-icon {
      display: none;
    }
  }

  .mat-step-header {
    .mat-step-icon {
      background: #FFFFFF;
      border: 1px solid #CAD2DA;
    }
    .mat-step-icon-selected {
      background: #E8EFF7;
      border: 1px solid #72879E;
    }
    .mat-step-icon-state-edit {
      background-image: url(".././assets/image/completed-step-icon.png");
    }
  }

  .mat-stepper-vertical-line::before {
    top: -10px;
    bottom: -10px;
  }
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header, .mat-vertical-stepper-header {
    padding: 10px 24px;
  }
}