<mat-vertical-stepper>
  <mat-step>
    <ng-template matStepLabel>Информация об автомобиле</ng-template>
    <ng-template matStepContent>

<!--      <p>This content was rendered lazily</p>-->
<!--      <button mat-button matStepperNext>Next</button>-->
    </ng-template>
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Собственник</ng-template>
    <ng-template matStepContent>
<!--      <p>This content was also rendered lazily</p>-->
<!--      <button mat-button matStepperPrevious>Back</button>-->
<!--      <button mat-button matStepperNext>Next</button>-->
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Водители</ng-template>
<!--    <p>This content was rendered eagerly</p>-->
<!--    <button mat-button matStepperPrevious>Back</button>-->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Параметры авто</ng-template>
    <!--    <p>This content was rendered eagerly</p>-->
<!--    <button mat-button matStepperPrevious>Back</button>-->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Параметры страховых продуктов</ng-template>
    <!--    <p>This content was rendered eagerly</p>-->
<!--    <button mat-button matStepperPrevious>Back</button>-->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Расчет продуктов</ng-template>
    <!--    <p>This content was rendered eagerly</p>-->
<!--    <button mat-button matStepperPrevious>Back</button>-->
  </mat-step>
</mat-vertical-stepper>
