<mat-vertical-stepper>
  <mat-step>
    <ng-template matStepLabel>Информация об автомобиле</ng-template>
    <ng-template matStepContent>
    </ng-template>
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Собственник</ng-template>
    <ng-template matStepContent>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Водители</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Параметры авто</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Параметры страховых продуктов</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Расчет продуктов</ng-template>
  </mat-step>
</mat-vertical-stepper>
