<div class="client-list-container">
  <tes-clients-list-header></tes-clients-list-header>

  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      class="clients-table mat-elevation-z8"
      matSort
      (matSortChange)="sortData($event)"
    >
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="last_name">
          ФИО
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.first_name }} {{ element.last_name }}
          {{ element.patronymic }}
        </td>
      </ng-container>

      <ng-container matColumnDef="car_brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="car_mark">
          Марка авто
        </th>
        <td mat-cell *matCellDef="let element">{{ element.car_mark }}</td>
      </ng-container>

      <ng-container matColumnDef="car_model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="car_model">
          модель
        </th>
        <td mat-cell *matCellDef="let element">{{ element.car_model }}</td>
      </ng-container>

      <ng-container matColumnDef="vin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="vin">vin</th>
        <td mat-cell *matCellDef="let element">{{ element.vin }}</td>
      </ng-container>

      <ng-container matColumnDef="kasko">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="kasko">КАСКО</th>
        <td mat-cell *matCellDef="let element">{{ element.pts }}</td>
      </ng-container>

      <ng-container matColumnDef="osago">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="osago">ОСАГО</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <ng-container matColumnDef="loan_products">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="loan_products">
          кредитные продукты
        </th>
        <td mat-cell *matCellDef="let element">{{ element.transmission }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="phone">
          Телефон
        </th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selectedClient(row)"
      ></tr>
    </table>

    <!-- <tes-table-paginator></tes-table-paginator> -->
    <mat-paginator
      #paginator
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[5, 10, 15]"
    ></mat-paginator>
  </div>
</div>
