<div class="car-info-container">
  <div class="car-info-container-title">Информация об автомобиле</div>
  <div class="car-info-container-content">
    <div class="car-info-details">
      <form class="car-info-details-form" [formGroup]="formCarOptions">
        <div class="car-info-form-container">
          <div class="car-info-item">
            <label class="car-info-item__label" for="VIN">VIN</label>
            <input
              class="car-info-item__input"
              name="VIN"
              type="text"
              formControlName="VIN"
            />
            <div
              *ngIf="
                formCarOptions.controls['VIN'].touched &&
                formCarOptions.controls['VIN'].invalid
              "
            >
              <small *ngIf="formCarOptions.controls['VIN'].invalid">
                Введите VIN</small
              >
            </div>
          </div>
          <div class="car-info-item">
            <label class="car-info-item__label" for="car_mark">Марка</label>
            <input
              class="car-info-item__input"
              name="car_mark"
              type="text"
              formControlName="car_mark"
            />
            <div
              *ngIf="
                formCarOptions.controls['car_mark'].touched &&
                formCarOptions.controls['car_mark'].invalid
              "
            >
              <small *ngIf="formCarOptions.controls['car_mark'].invalid">
                Введите марку авто</small
              >
            </div>
          </div>
          <div class="car-info-item">
            <label class="car-info-item__label" for="car_model">Модель</label>
            <input
              class="car-info-item__input"
              name="car_model"
              type="text"
              formControlName="car_model"
            />
            <div
              *ngIf="
                formCarOptions.controls['car_model'].touched &&
                formCarOptions.controls['car_model'].invalid
              "
            >
              <small *ngIf="formCarOptions.controls['car_model'].invalid">
                Введите модель авто</small
              >
            </div>
          </div>
          <div class="car-info-item">
            <label class="car-info-item__label" for="car_year"
              >Год выпуска</label
            >
            <input
              class="car-info-item__input"
              name="car_year"
              type="text"
              formControlName="car_year"
            />
            <div
              *ngIf="
                formCarOptions.controls['car_year'].touched &&
                formCarOptions.controls['car_year'].invalid
              "
            >
              <small *ngIf="formCarOptions.controls['car_year'].invalid">
                Введите год выпуска авто</small
              >
            </div>
          </div>
          <div class="car-info-item">
            <label class="car-info-item__label" for="pts_issue_year">ПТС</label>
            <input
              class="car-info-item__input"
              name="pts_issue_year"
              type="text"
              formControlName="pts_issue_year"
            />
            <div
              *ngIf="
                formCarOptions.controls['pts_issue_year'].touched &&
                formCarOptions.controls['pts_issue_year'].invalid
              "
            >
              <small *ngIf="formCarOptions.controls['pts_issue_year'].invalid">
                Введите год выпуска авто из ПТС</small
              >
            </div>
          </div>
          <div class="car-info-item">
            <label class="car-info-item__label" for="engine_capacity"
              >Объем двигателя</label
            >
            <input
              class="car-info-item__input"
              name="engine_capacity"
              type="text"
              formControlName="engine_capacity"
            />
            <div
              *ngIf="
                formCarOptions.controls['engine_capacity'].touched &&
                formCarOptions.controls['engine_capacity'].invalid
              "
            >
              <small *ngIf="formCarOptions.controls['engine_capacity'].invalid">
                Введите объем двигателя</small
              >
            </div>
          </div>
          <div class="car-info-item">
            <label class="car-info-item__label" for="transmission"
              >Трансмиссия автомобиля</label
            >
            <input
              class="car-info-item__input"
              name="transmission"
              type="text"
              formControlName="transmission"
            />
            <div
              *ngIf="
                formCarOptions.controls['transmission'].touched &&
                formCarOptions.controls['transmission'].invalid
              "
            >
              <small *ngIf="formCarOptions.controls['transmission'].invalid">
                Выберите тип КПП</small
              >
            </div>
          </div>
        </div>
        <div class="car-info-form-container">
          <div class="car-body-type">
            <div class="car-body-type__title">Тип кузова</div>
            <div class="car-body-type__list">
              <button
                class="car-body-type__list--button"
                *ngFor="let typeOfCarBody of typesOfCarBody; index as i"
                type="button"
                [ngClass]="{ active: selectedIndex === i }"
                (click)="activateClass(i)"
              >
                {{ typeOfCarBody }}
              </button>
            </div>
          </div>
          <fieldset class="form-group__item">
            <label class="form-group__item_label">
              Стоимость авто, руб
              <app-input-slider
                (componentValue)="getCarPrice($event)"
              ></app-input-slider>
            </label>
          </fieldset>
          <div class="form-container-toggle">
            <div class="form-container-toggle__wrapper">
              <label class="toggle-switch">
                <input
                  id="telematic"
                  class="checkbox"
                  name="telematic"
                  type="checkbox"
                  formControlName="car_telematic"
                  checked
                />
                <span class="toggle-slider round"></span>
              </label>

              <div class="form-container-toggle__label__container">
                <label
                  class="form-container-toggle__label form-container-toggle__label__toggle"
                  for="telematic"
                  >Телематическая система</label
                >
                <div>
                  <span class="label__tooltip">Дополнительная скидка</span>
                  <img
                    src="/assets/images/tooltip_item.svg"
                    alt="tool-tip"
                    class="example-tab-icon"
                    matTooltip="tooltip"
                  />
                </div>
              </div>
            </div>
            <div *ngIf="car_telematic">
              <div>
                <span class="car-info-item__label"
                  >Тип телематической системы:</span
                >
              </div>
              <fieldset class="car-info-item-telematic">
                <input
                  id="telematic_misos_light"
                  type="checkbox"
                  class="car-info-item-telematic__checkbox"
                  formControlName="telematic_misos_light"
                  name="telematic_misos_light"
                />
                <img src="/assets/images/missos_light_icon.svg" />
                <label
                  for="telematic_misos_light"
                  class="car-info-item-telematic__label"
                >
                  Misos LIGHT
                </label>
              </fieldset>
              <fieldset class="car-info-item-telematic">
                <input
                  id="telematic_bluelink"
                  type="checkbox"
                  class="car-info-item-telematic__checkbox"
                  formControlName="telematic_bluelink"
                  name="telematic_bluelink"
                />
                <img src="/assets/images/bluelink_icon.svg" />
                <label
                  for="telematic_bluelink"
                  class="car-info-item-telematic__label"
                >
                  Bluelink
                </label>
              </fieldset>
              <fieldset class="car-info-item-telematic">
                <input
                  id="telematic_misos_pro"
                  type="checkbox"
                  class="car-info-item-telematic__checkbox"
                  formControlName="telematic_misos_pro"
                  name="telematic_misos_pro"
                />
                <img src="/assets/images/misos_pro_icon.svg" />
                <label
                  for="telematic_misos_pro"
                  class="car-info-item-telematic__label"
                >
                  Misos PRO
                </label>
              </fieldset>
            </div>
          </div>
        </div>

        <div class="car-info-details-form__button">
          <app-submit-form-button
            [formValues]="formCarOptions.value"
            [isDisable]="!formCarOptions.valid"
            buttonText="Далее"
          ></app-submit-form-button>
        </div>
      </form>
    </div>
  </div>
</div>
