<!-- <ul class="auth-variants">
  <li class="auth-variants-item"><img src="../../../../../assets/images/phone.svg" alt="phone"><a href=""
      class="auth-variants-item__link"> По телефону</a>
  </li>

  <li class="auth-variants-item"><img src="../../../../../assets/images/vin.svg" alt="vin"><a href=""
      class="auth-variants-item__link">По VIN </a></li>

  <li class="auth-variants-item"><img src="../../../../../assets/images/number.svg" alt="number"><a href=""
      class="auth-variants-item__link">По гос.номеру</a>
  </li>

</ul> -->

<mat-tab-group [disableRipple]="true" mat-align-tabs="center" (selectedTabChange)="onTabChange($event)">
  <mat-tab>
    <ng-template mat-tab-label class="tab-item">
      <img src="../../../../../assets/images/phone.svg" class="tab-item__img" alt="phone">
      <span class="tab-item__text">По телефону</span>
    </ng-template>
    <ng-content></ng-content>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="tab-item">
      <img src="../../../../../assets/images/vin.svg" class="tab-item__img" alt="vin">
      <span class="tab-item__text">По VIN</span>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="tab-item">
      <img src="../../../../../assets/images/number.svg" class="tab-item__img" alt="number">
      <span class="tab-item__text">По гос.номеру</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>