<mat-tab-group
  [disableRipple]="true"
  mat-align-tabs="center"
  (selectedTabChange)="onTabChange($event)"
>
  <mat-tab>
    <ng-template mat-tab-label class="tab-item">
      <img
        src="/assets/images/brokers-auth-navigation-logos/phone-logo.svg"
        class="tab-item__img"
        alt="phone-logo.svg"
      />
      <span class="tab-item__text">По телефону</span>
    </ng-template>
    <ng-content></ng-content>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="tab-item">
      <img
        src="/assets/images/brokers-auth-navigation-logos/vin-logo.svg"
        class="tab-item__img"
        alt="vin-logo.svg"
      />
      <span class="tab-item__text">По VIN</span>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="tab-item">
      <img
        src="/assets/images/user-auth-navigation-logo/car-number-logo.svg"
        class="tab-item__img"
        alt="car-number-logo"
      />
      <span class="tab-item__text">По гос.номеру</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>
