.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(
    180deg,
    #d8e1ea 0%,
    rgba(216, 225, 234, 0.15) 100%
  );

  &__title {
    margin-right: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: #343e48;
  }

  &__cancel-button {
    background-color: transparent;
    &--img {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      color: #72879e;
    }
  }
}
