:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.toolbar {
  height: 60px;
  display: flex;
  background: linear-gradient(180.02deg, #39434D 5.74%, #0F1923 99.98%);
  backdrop-filter: blur(2px);
  justify-content: space-between;
}
.toolbar-container {
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin: 0 auto;
}

.title-container {
  color: white;
  margin-left: 27px;
}

.help-center {
  color: white;
  margin-right: 45px;
}

.logo__container, .user__container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper {
  width: 100%;
  flex: 1;

  &__container {
    height: calc(100vh - 9.25rem - 4.375rem);
    margin-top: 9.25rem;
  }
}

.main-container {
  position: relative;
  z-index: 100;
  min-width: 100vw;
  min-height: 100vh;
}

.main-container::before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url("assets/image/main-bg.png");
  opacity: 6%;
  height: 100vh;
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


