<div class="wrapper">
  <div class="toolbar">
    <div class="toolbar-container">
      <div class="logo__container">
        <a routerLink="/">
          <img class="logo__img" src="/assets/images/header-logo.svg" alt="" />
        </a>
        <div class="title-container">
          <p>Кредитный калькулятор</p>
        </div>
      </div>
      <div class="user__container">
        <div class="help-center">
          <p>Справочный центр</p>
        </div>
        <div class="user">
          <a routerLink="/">
            <img class="user__img" src="/assets/images/user-logo.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <main class="main-container">
    <nav class="nav-container">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a
            class="nav-list-item-link"
            routerLink="loan-calculation"
            [routerLinkActive]="['activated']"
            >Расчет кредита</a
          >
        </li>
        <li class="nav-list-item">
          <a
            class="nav-list-item-link"
            routerLink="processing"
            [routerLinkActive]="['activated']"
            >Оформление</a
          >
        </li>
        <li class="nav-list-item">
          <a
            class="nav-list-item-link"
            routerLink="documents-payments"
            [routerLinkActive]="['activated']"
            >Документы и платежи</a
          >
        </li>
      </ul>
      <router-outlet></router-outlet>
    </nav>
    <!-- <app-navigation></app-navigation> -->
  </main>
  <!--  <div class="wrapper__container">-->
  <!--  </div>-->
</div>
