<div class="filter-container">
  <header class="filter-header">
    <span class="filter-header__title">Поиск и фильтры</span>
  </header>

  <form class="filter-body" [formGroup]="filterForm">
    <app-filter-input></app-filter-input>
    <fieldset class="form-group__item">
      <label class="form-group__item--label">
        Марка
        <select
          (change)="changeCarBrand($event)"
          formControlName="car_brand"
          class="form-group__item--select"
          name="property_status">
          <option *ngFor="let carMark of carMarkFilterParams" [value]="carMark">{{carMark}}</option>
        </select></label
      >
    </fieldset>

    <fieldset class="form-group__item">
      <label class="form-group__item--label">
        Модель
        <select
          (change)="changeModel($event)"
          formControlName="car_model"
          class="form-group__item--select"
          name="property_status">
          <option value="Solaris">Solaris</option>
          <option value="RIO">RIO</option>
        </select></label
      >
    </fieldset>
    <fieldset class="filter-options">
      <input
        type="checkbox"
        class="filter-options__checkbox"
        formControlName="have_loan"
        name="checkbox"
      />
      <label for="checkbox" class="filter-options__label">Есть кредит</label>
    </fieldset>
    <fieldset class="filter-options">
      <input
        type="checkbox"
        class="filter-options__checkbox"
        formControlName="have_casko"
        name="checkbox"
      />
      <label for="checkbox" class="filter-options__label">Есть КАСКО</label>
    </fieldset>
    <fieldset class="filter-options">
      <input
        type="checkbox"
        class="filter-options__checkbox"
        formControlName="have_osago"
        name="checkbox"
      />
      <label for="checkbox" class="filter-options__label">Есть ОСАГО</label>
    </fieldset>

    <div class="filter-buttons">
      <button class="filter-buttons__cancel" (click)="clearFields()">
        Очистить фильтр
      </button>
    </div>
  </form>
</div>
