<div class="side-bar">
  <div class="progress-bar__container">
    <div class="progress-bat-title">Заполнено {{ sideBarPercentage }}%</div>
    <mat-progress-bar class="mat-progress-bar-item" [value]="sideBarPercentage">
    </mat-progress-bar>
  </div>

  <mat-vertical-stepper #stepper (selectionChange)="selectionChanged($event)">
    <mat-step
      *ngFor="let step of steps; let i = index"
      [routerLink]="['/' + step.path]"
      [editable]="true"
      [label]="step.path"
    >
      <ng-template matStepLabel>{{ step.content }}</ng-template>
    </mat-step>
  </mat-vertical-stepper>
</div>
