<div class="auth-page">
  <div class="auth-page__container">
    <div class="personal-office">
      <div class="personal-greetings">
        <h1 class="personal-greetings__title">Добавить клиента</h1>
        <p class="personsl-greetings__content">
          Добро пожаловать в личный кабинет.<br />
          Авторизуйтесь для управления вашими страховыми<br />
          полисами. Выберите удобный способ входа:
        </p>
      </div>

      <app-auth-tabs>
        <form
          [formGroup]="registrationForm"
          (ngSubmit)="onSubmit()"
          class="auth-form"
        >
          <fieldset class="auth-form-item">
            <label for="phone" class="auth-form-item__label"
              >Номер телефона*</label
            >
            <input
              type="text"
              class="auth-form-item__phone"
              placeholder="Введите ваш номер"
              name="phone"
              formControlName="phone"
            />
          </fieldset>

<!--          <fieldset class="auth-form-item">-->
<!--            <div class="auth-form-item__wrapper">-->
<!--              <label for="secret_key" class="auth-form-item__label"-->
<!--                >Код проверки*</label-->
<!--              >-->

<!--              <img-->
<!--                src="../../../../../assets/images/tooltip_item.svg"-->
<!--                alt="tool-tip"-->
<!--                [matTooltipClass]="{'tool-tip': true}"-->
<!--                class="example-tab-icon"-->
<!--                matTooltip="tooltip"-->
<!--                #tool="matTooltip"-->
<!--                (click)="openTooltip(tool)"-->
<!--                (focus)="tool.show()"-->
<!--              />-->
<!--            </div>-->

<!--            <input-->
<!--              type="text"-->
<!--              class="auth-form-item__validation-code"-->
<!--              placeholder="Мы выслали код на ваш номер"-->
<!--              name="secret_key"-->
<!--              formControlName="secret_key"-->
<!--            />-->
<!--          </fieldset>-->

          <button
            class="auth-form-button"
            type="submit"
            [disabled]="isSubmitting$ | async"
          >
            Войти
            <img
              src="../../../../../assets/images/login_button.svg"
              alt="login"
            />
          </button>
        </form>
      </app-auth-tabs>
    </div>

    <div class="personal-service">
<!--      <mc-tes-navigation-logo></mc-tes-navigation-logo>-->
    </div>
    <!-- <p class="">
          <a [routerLink]="['/login']">Have an account?</a>
        </p> -->
    <app-backend-error-messages
      *ngIf="backandErrors$ | async"
      [backendErrors]="backandErrors$ | async"
    ></app-backend-error-messages>
  </div>
</div>
