<div class="auth-page">
  <div class="auth-page__container">
    <div class="personal-office">
      <div class="personal-greetings">
        <h1 class="personal-greetings__title">Добавить клиента</h1>
        <p class="personsl-greetings__content">
          Добро пожаловать в личный кабинет.<br />
          Авторизуйтесь для управления вашими страховыми<br />
          полисами. Выберите удобный способ входа:
        </p>
      </div>

      <!-- <app-auth-tabs>
        <form
          [formGroup]="registrationForm"
          (ngSubmit)="onSubmitRegistration()"
          class="auth-form"
        >
          <fieldset class="auth-form-item">
            <label for="phone" class="auth-form-item__label"
              >Номер телефона*</label
            >
            <input
              type="text"
              class="auth-form-item__phone"
              placeholder="Введите ваш номер"
              name="phone"
              formControlName="phone"
            />
          </fieldset>

          <button
            class="auth-form-button"
            type="submit"
            [disabled]="isSubmitting$ | async"
          >
            Войти
            <img
              src="../../../../../assets/images/login_button.svg"
              alt="login"
            />
          </button>
        </form>
      </app-auth-tabs> -->

      <form
        [formGroup]="authForm"
        (ngSubmit)="onSubmitAuth()"
        class="auth-form"
      >
        <fieldset class="auth-form-item">
          <label for="clientId" class="auth-form-item__label">Ваш ID*</label>
          <input
            type="text"
            class="auth-form-item__phone"
            placeholder="Введите ваш номер"
            name="clientId"
            formControlName="clientId"
          />
        </fieldset>

        <fieldset class="auth-form-item">
          <label for="code" class="auth-form-item__label"
            >Ваш код телефона*</label
          >
          <input
            type="text"
            class="auth-form-item__phone"
            placeholder="Введите ваш номер"
            name="code"
            formControlName="code"
          />
        </fieldset>

        <button
          class="auth-form-button"
          type="submit"
          [disabled]="isSubmitting$ | async"
        >
          Войти
          <img
            src="../../../../../assets/images/login_button.svg"
            alt="login"
          />
        </button>
      </form>
    </div>

    <div class="personal-service">
      <!--      <mc-tes-navigation-logo></mc-tes-navigation-logo>-->
    </div>
    <!-- <p class="">
          <a [routerLink]="['/login']">Have an account?</a>
        </p> -->
    <!-- <app-backend-error-messages
      *ngIf="backandErrors$ | async"
      [backendErrors]="backandErrors$ | async"
    ></app-backend-error-messages> -->
    <!-- <div class="auth-buttons">
      <input type="button" value="Зарегистрироваться" />
      <input type="button" value="Войти" />
    </div> -->
  </div>
</div>
