.container {
  width: 100%;
}

.document {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;

    &__insurer {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 29px;
      color: #343e48;
      text-transform: uppercase;
    }

    &__bank {
      display: flex;
      align-items: center;

      &--logo {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        box-shadow: 2px 2px 19px rgba(52, 62, 72, 0.21);
        border-radius: 10px;
      }

      &--name {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;
        color: #343e48;
      }
    }
  }

  &-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 23px;

    &__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 67px;

      &-item {
        display: flex;
        flex-direction: column;

        .picker__container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .list-item__text {
          z-index: 1000;
        }

        .list-item__label {
          margin-top: 12px;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: #979797;
        }
      }
    }

    &__contract-status {
      display: flex;
      flex-direction: column;
      width: 426px;
    }

    &__sum,
    &__treaty,
    &__status {
      padding: 12px 0;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #f3f3f3;
      color: #232323;

      &-label {
        font-weight: 400;
        line-height: 16px;
      }

      &-payload {
        font-weight: 500;
        line-height: 12px;
      }
    }
  }

  &__button {
    margin-top: 32px;
    padding: 12px 53px;
    max-width: 30%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #ffffff;
    color: #343e48;
    border: 1px solid #72879e;
    border-radius: 6px;
  }
}
