<div class="request-container">
  <div class="request__form">
    <header class="form-header">
      <span class="form-header__title">Заявка № 12345</span>
      <span
        class="form-header__status"
        [ngClass]="{
          active: routerLink === '/main-page/processing/client-approval'
        }"
        >Ожидает отправки</span
      >
    </header>
    <div class="form-body">
      <span class="form-body__title">Кредит</span>
      <tes-loan-params></tes-loan-params>
    </div>
    <footer class="form-footer">
      <span class="form-footer__title">Страховые продукты</span>
      <div class="insurer">
        <div class="insurer__item">
          <span class="insurer__item-label">ОСАГО</span>
          <span class="insurer__item-value">10 500 р</span>
        </div>
        <div class="insurer__item">
          <span class="insurer__item-label">КАСКО</span>
          <span class="insurer__item-value">45 000 р</span>
        </div>
      </div>
    </footer>
  </div>
  <input type="button" class="request__button" value="Отпрвить в банк" />
</div>
