fieldset {
  margin-right: 20px;

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 20px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CAD2DA;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      left: 3px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  input {
    &:checked {
      + {
        .toggle-slider {
          background-color: #72879E;

          &:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
        }
      }
    }

    &:focus {
      + {
        .toggle-slider {
          box-shadow: 0 0 1px #72879E;
        }
      }
    }
  }

  .toggle-slider.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
}
