.spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: var(--md-sys-color-main-widget-bg);
  box-shadow: var(--md-sys-color-shadow);
  height: 2rem;
}

.wrapper {
  height: 9.25rem;
  width: 100%;
  border-radius: 0 0 16px 16px;
  box-shadow: -1px 3px 20px 1px rgba(33, 44, 55, 0.08);
  position: absolute;
  z-index: 999;

  &__group {
    height: 4.938rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.625rem;
    background: var(--md-sys-color-main-sidebar);
    color: var(--md-sys-color-toolbar-text);

    .logo__container {
      .logo__img, a {
        height: 30px;
      }
    }
  }

  &__group-links {
    height: 4.313rem;
    padding: 0 6.875rem;
    background: var(--md-sys-color-main-widget-bg);
  }
}
