<div class="wrapper">
  <div class="wrapper__group">
    <div class="logo__container">
      <a routerLink="/">
        <img class="logo__img" src="/assets/images/header-logo.svg" alt="" />
      </a>
    </div>
    <div>
      <p></p>
<!--      <app-toolbar-profile></app-toolbar-profile>-->
      <!--      <button mat-flat-button (click)="logOut()">Выйти</button>-->
    </div>
  </div>
  <div class="wrapper__group-links">
    <p>links</p>
<!--    <app-toolbar-navigation [menuItems]="menuItems"></app-toolbar-navigation>-->
  </div>
</div>

