.loan-params-container {
    padding: 30px;
    width: 75vw;
    height: 100%;
    background: #ffffff;
    box-shadow: -1px 3px 20px 1px rgba(33, 44, 55, 0.08);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: wrap;
  }

  .loan-params-title {
    margin-top: 35px;
    margin-left: 30px;
    margin-bottom: 35px;
    width: 100%;
    height: 3vh;
    color: #343e48;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
  }

  .loan-params-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 6px;
    gap: 18px;
    color: #343e48;
    margin-left: 35px;
    flex-wrap: wrap;
  }

  .loan-params-item {
    margin-top: 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
  
    &__checkbox {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      accent-color: #72879e;
    }
  
    &__label {
      font-family: 'Gilroy';
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #343e48;
    }
  }