.card-layout {
  max-width: 100%;
  min-height: 82vh;
  background-color: #ffffff;
  box-shadow: -1px 3px 20px 1px rgb(33 44 55 / 8%);
  border-radius: 30px;
  padding: 35px;

  .container {
    margin-bottom: 35px;

    .title {
      font-weight: 400;
      font-size: 30px;
      line-height: 39px;
      color: #343e48;
    }
  }
}
