<form [formGroup]="inputClearedForm">
  <label class="form-group__item--label" for="clearedInput">
    {{ formControlTitle }}
  </label>
  <div class="clearer-container">
    <input
      id="clearedInput"
      type="text"
      class="form-group__item--input"
      formControlName="inputClearer"
    />
    <button
      class="clearer-container__clear button"
      (click)="clearInputValue()"
      *ngIf="showClearer"
    >
      <img
        src="/assets/images/custom-elements-icons/delete-button-icon.svg"
        alt=""
        srcset=""
      />
    </button>
  </div>
</form>
