.form-group__item {
  display: flex;
  flex-direction: column;

  &--label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #343e48;
  }

  &--input {
    background: #f2f4f7;
    border-radius: 8px;
    padding: 17.5px 10px;
    width: 100%;
  }
}

.clearer-container {
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: #f2f4f7;
  border-radius: 8px;
  width: 30%;
  padding-right: 12px;
}
