<div class="loan-papams">
  <div class="loan-params__item">
    <span class="loan-params__item-label">Сумма кредита </span>
    <span class="loan-params__item-value">2 365 654 р</span>
  </div>
  <div class="loan-params__item">
    <span class="loan-params__item-label">Первый взнос </span>
    <span class="loan-params__item-value">365 654 р</span>
  </div>
  <div class="loan-params__item">
    <span class="loan-params__item-label">Срок кредита</span>
    <span class="loan-params__item-value">10 лет</span>
  </div>
</div>
