.container {
  display: flex;
  padding: 31px 35px;
  max-width: 100%;
  width: 80vw;
  min-height: 80vh;
  background: #ffffff;
  box-shadow: -1px 3px 20px 1px rgba(33, 44, 55, 0.08);
  border-radius: 30px;
  margin-bottom: 75px;
}
