<form
  [formGroup]="registrationForm"
  (ngSubmit)="onSubmit()"
  class="auth-formId"
  idRegistration
>
  <fieldset class="auth-formId-item">
    <label for="email" class="auth-formId-item__label">Название дилера*</label>
    <input
      type="text"
      class="auth-formId-item__name"
      placeholder="Введите название"
      name="name"
      formControlName="name"
    />
  </fieldset>

  <fieldset class="auth-formId-item">
    <div class="auth-formId-item__wrapper">
      <label for="id" class="auth-formId-item__label">ID-дилера*</label>
      <img
        src="/assets/images/tooltip_item.svg"
        alt="tool-tip"
        [matTooltipClass]="{ 'tool-tip': true }"
        class="example-tab-icon"
        matTooltip="tooltip"
        #tool="matTooltip"
        (click)="openTooltip(tool)"
        (focus)="tool.show()"
      />
    </div>
    <input
      type="password"
      class="auth-formId-item__id"
      placeholder="Введите номер ID"
      name="id"
      formControlName="id"
    />
  </fieldset>

  <fieldset class="auth-formId-checkbox">
    <input
      [checked]="checkboxSuccess"
      (change)="checkboxSuccess = !checkboxSuccess"
      type="checkbox"
      class="auth-formId-checkbox__success"
      name="checkbox"
    />
    <label for="checkbox" class="auth-formId-checkbox__label"
      >Я принимаю условия соглашения и даю
      <u><b>Согласие на обработку персональных данных</b></u></label
    >
  </fieldset>

  <button
    class="auth-formId-button"
    type="submit"
    [disabled]="
      (isBrokerSubmittingById$ | async) ||
      !checkboxSuccess ||
      !this.registrationForm.valid
    "
  >
    Войти
  </button>
</form>
