/* Styles for tab */
.mat-tabs-broker {
  .mat-ink-bar {
    background-color: white !important;
  }

  .mat-tab-label {
    color: #f2f4f7;
    width: 100%;
  }

  .mat-tab-label-active {
    color: #ffffff;
  }
}

.mat-tab-client-modal {
  .mat-ink-bar {
    background-color: grey !important;
  }

  // .mat-tab-label {
  //   color: #f2f4f7;
  //   width: 100%;
  // }

  // .mat-tab-label-active {
  //   color: #ffffff;
  // }
}

.mat-tab-label,
.mat-tab-label-active {
  margin: 0 auto;
}

/* Styles for tab */

// ========================================

/* Mat dialog styles */

.mat-dialog-container {
  margin: 0 !important;
  padding: 0 !important;
}

.mat-dialog-content {
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

/* Mat dialog styles */

// =========================================

// Mat Button styles

.mat-button-disabled {
  color: #ffffff !important;
  background: #cad2da !important;
}

// Mat Button styles
