/* Styles for tab */
.mat-ink-bar {
  background-color: white !important;
}

.mat-tab-label,
.mat-tab-label-active {
  margin: 0 auto !important;
}

.mat-tab-label {
  color: #f2f4f7 !important;
  width: 100%;
}

.mat-tab-label-active {
  color: #ffffff !important;
}
/* Styles for tab */
