* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif !important;
  height: 100%;
  width: 100vw;
  font-size: 100%;
  line-height: 1;
  overflow-y: visible;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

textarea:focus,
input:focus {
  outline: none;
}

nav,
header,
footer,
aside {
  display: block;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited,
a:focus {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
