.progress-bat-title{
  margin-left: 20px;
  margin-top: 31px;
  color: #343E48;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.mat-progress-bar-item {
  margin: 10px;
  width: 90%;
}

::ng-deep {
  .mat-progress-bar-buffer {
    background: #F2F4F7;
    box-shadow: inset 2px 2px 3px rgba(69, 77, 86, 0.04);
    border-radius: 4px;
  }
  .mat-progress-bar-fill::after {
    background: linear-gradient(180deg, #72879E 0%, #A7B9CB 100%);

    box-shadow: inset 2px 2px 3px rgba(69, 77, 86, 0.04);
    border-radius: 4px;
  }
}
