.progress-bat-title {
  margin-left: 20px;
  color: #343e48;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.mat-progress-bar-item {
  margin: 10px;
  width: 90%;
}

::ng-deep {
  .mat-progress-bar-buffer {
    background: #f2f4f7;
    box-shadow: inset 2px 2px 3px rgba(69, 77, 86, 0.04);
    border-radius: 4px;
  }
  .mat-progress-bar-fill::after {
    background: linear-gradient(180deg, #72879e 0%, #a7b9cb 100%);

    box-shadow: inset 2px 2px 3px rgba(69, 77, 86, 0.04);
    border-radius: 4px;
  }
}
