<div class="auth-page">
  <div class="auth-page__container">
    <div class="personal-office">
      <div class="personal-greetings">
        <h1 class="personal-greetings__title">F&I Брокера</h1>
        <p class="personal-greetings__content">
          Добро пожаловать в личный кабинет.
        </p>
        <p class="personal-greetings__content">
          Авторизуйтесь, чтобы начать пользоваться всеми возможностями
          СRM-системы.
        </p>
      </div>

      <tes-broker-auth-tabs> </tes-broker-auth-tabs>
    </div>

    <!-- <p class="">
          <a [routerLink]="['/login']">Have an account?</a>
        </p> -->
    <!-- <mc-backend-error-messages *ngIf="backendErrors$ | async"
      [backendErrors]="backendErrors$ | async"></mc-backend-error-messages> -->
  </div>
</div>
