.auth-page {
  width: 100vw;
  background: url(/assets/images/pages-backgrounds/auth-broker-background.png)
    top center;
  background-attachment: fixed;
  font-family: 'Gilroy';
  color: #ffffff;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;

    .personal-office {
      max-width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .personal-greetings {
        margin-bottom: 36px;

        &__title {
          font-weight: 500;
          font-size: 62px;
          line-height: 110%;
          margin-bottom: 40px;
        }

        &__content {
          font-weight: 400;
          font-size: 20px;
          line-height: 160%;
          color: #dedede;
        }
      }

      &__description {
        margin-top: 70px;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #a4a4a4;
      }
    }

    .personal-service {
      width: 30%;
    }
  }
}
