.driver-info-details {
  max-width: 70%;
  &-form {
    &-container {
      .checkbox-line {
        margin-top: 20px;

        tes-input-checkbox {
          margin-right: 20px;
        }
      }
    }
  }
}
