.tes-container {
  padding: 30px;
  min-width: 70vw;
  min-height: 80vh;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: -1px 3px 20px 1px rgba(33, 44, 55, 0.08);
  border-radius: 30px;

  &-title {
    margin-bottom: 35px;
    font-size: 30px;
    color: #343e48;
  }

  &-content {
  }

  &-buttons {
  }
}

.driver-info-details {
  max-width: 70%;
  &-form {
    &-container {
      .checkbox-line {
        margin-top: 20px;

        tes-input-checkbox {
          margin-right: 20px;
        }
      }
    }
  }
}

.next-page__button {
  font-weight: 500;
  font-size: 20px;
  background: #343e48;
  padding: 14px 76px;
  border-radius: 6px;
  color: #ffffff;
}
